<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dll_citamedica.Properties.Settings.Conecctionhospital17mayo"
            connectionString="Dsn=17mayo" providerName="System.Data.Odbc" />
    </connectionStrings>
</configuration>